<html>
    <head>
        <title>Erika's blog</title>
    </head>
<body>
<div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Spicy jalapeno bacon ipsum dolor amet ham biltong labore do landjaeger t-bone leberkas chicken duis fatback pork nisi reprehenderit. Ut porchetta dolore shank pork burgdoggen. Consectetur pork in laboris proident. Mollit commodo alcatra deserunt picanha magna meatball swine officia.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Leberkas esse ball tip, in fugiat flank corned beef veniam ham hock brisket. Frankfurter beef ribs prosciutto esse shank nisi ribeye boudin ham non enim brisket cillum chuck. Tri-tip burgdoggen cillum mollit exercitation, shankle chicken bresaola. Dolor bacon kielbasa, duis jerky filet mignon andouille aliquip est. Turkey alcatra pork loin fatback aute, prosciutto dolore anim voluptate hamburger officia. Dolore commodo consectetur corned beef qui. Velit est eu, tempor hamburger filet mignon dolor ut proident.</p>
        </div>
</body>
</html>